# Ignore everything by default.
/*

# Add Legacy Repo folder
!/assets
!/extra

# Add Nix modules
!modules

# Add really .config
!/.config

# Add home config
!/.bashrc
!/.gitconfig
!/.profile
!/.xinitrc
!/.zshrc

# oh my zsh repo
!.oh-my-zsh

# Add repo files
!/LICENCE
!/README.md

# Add Nix flake
!*.nix
!**/*.nix
!flake.lock

# Add git files
!.gitattributes
!.gitmodules
!.gitignore

# Add global gitignore
!.global.gitignore
