* text=lf
* eol=lf

*.png binary
*.jpg binary

*.* linguist-detectable

*.md -linguist-documentation
*.md -linguist-generated

.config/neofetch/config.conf linguist-language=shell
.config/bpytop/bpytop.conf linguist-language=shell

.profile linguist-language=shell
.config/gtk-*/*.css linguist-vendored
