# Ignore everything by default.
/*

# Add Legacy Repo folder
!/assets
!/config
!/deps
!/extra

# Add really .config
!/.config

# Add home config
!/.bashrc
!/.gitconfig
!/.profile
!/.xinitrc
!/.zshrc

# Add repo files
!/INSTALL.md
!/LICENCE
!/README.md

# Ignore logs
*.log

# Add the gitignore itself
!.gitignore

# Add the global gitignore
!.global.gitignore
