* text=lf
* eol=lf

*.png binary
*.jpg binary

*.* linguist-detectable=true

*.md linguist-documentation=false
*.md linguist-language=md

.config/neofetch/config.conf linguist-language=shell
.config/bpytop/bpytop.conf linguist-language=shell
