# Ignore everything by default.
/*
!.gitignore

# Add Legacy Repo folder
!/assets
!/config
!/deps
!/extra

# Add home config
!/.bashrc
!/.gitconfig
!/.profile
!/.xinitrc
!/.zshrc

# Add repo files
!/INSTALL.md
!/LICENCE
!/README.md
