[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = ssh:git@github/ohmyzsh/ohmyzsh.git

[submodule "extra/zsh/plugins/zsh-wakatime"]
	path = extra/zsh/plugins/zsh-wakatime
	url = ssh:git@github/wbingli/zsh-wakatime.git

[submodule "extra/zsh/plugins/zsh-autocomplete"]
	path = extra/zsh/plugins/zsh-autocomplete
	url = ssh:git@github/marlonrichert/zsh-autocomplete.git

[submodule "extra/zsh/plugins/zsh-syntax-highlighting"]
	path = extra/zsh/plugins/zsh-syntax-highlighting
	url = ssh:git@github/zsh-users/zsh-syntax-highlighting.git

[submodule "scripts/banana-coding-style-checker"]
    path = scripts/banana-coding-style-checker
    url = ssh:git@github/Epitech/banana-coding-style-checker.git
