[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git

[submodule "extra/zsh/plugins/wakatime"]
	path = extra/zsh/plugins/wakatime
	url = git@github.com:/sobolevn/wakatime-zsh-plugin.git

[submodule "extra/zsh/plugins/zsh-wakatime"]
	path = extra/zsh/plugins/zsh-wakatime
	url = git@github.com:wbingli/zsh-wakatime

[submodule "extra/zsh/plugins/zsh-autocomplete"]
	path = extra/zsh/plugins/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git

[submodule "extra/zsh/plugins/zsh-syntax-highlighting"]
	path = extra/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
