:root {
    --background-primary: #2f3446;
    --background-secondary: #292d3b;
    --background-secondary-alt: #2a2e3b;
    --background-tertiary: #252832;

    --header-primary: #bacbfc;
    --header-secondary: #b3c3f1;
    --text-normal: #bacbfc;
    --status-positive-text: #bacbfc;

    --text-muted: #65738d;
    --interactive-active: #bacbfc;


    --background-floating: #1e2230;
    --channeltextarea-background: #292d3b;
}
