Checks: "-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-narrowing-conversions,
  misc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-named-parameter,
  clang-analyzer-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  llvm-*"

CheckOptions:
  - key: readability-identifier-naming.MethodCase
    value: camelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelCase
  - key: readability-identifier-naming.PrivateMethodCase
    value: camelCase
  - key: readability-identifier-naming.PublicMethodCase
    value: camelCase
  - key: readability-identifier-naming.ProtectedMethodCase
    value: camelCase
  - key:   readability-identifier-naming.FunctionCase
    value: camelCase
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-identifier-naming.GlobalVariableCase
    value: UPPER_CASE
  - key: modernize-avoid-c-arrays.AllowStringArrays
    value: true
